<!DOCTYPE html>
<html lang="ko">
<head>
<title>부서목록</title>
<% include ../_helpers/html_header %>
<script>
function doDelete(delUrl) {
    if(!confirm('Are you really delete it?')) return;
    location.href = delUrl;
}

$( function() {
    $("#btn-search").off().on( "click", () => {
        document.forms[0].Action = "/dept";
        document.forms[0].submit();
    });
    $("#btn-insert").off().on( "click", () => { 
        location.href = "/insert"; 
    });
});

</script>
</head>

<body>

    <div class="container">
        <h2>부서목록</h2>

        <button id="btn-search" >조회</button> 
        <button id="btn-insert" >등록화면</button>
<form method="POST">        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>부서코드</th>
                    <th>부서명</th>
                </tr>
            </thead>
            <tbody>
                <% 
                if(data != ""){
                data.forEach(function (item,index){ 
                
                %>
                <tr>
                    <td><%= item.deptNo %></td>
                    <td><%= item.deptName %></td>
                </tr>
                <% 
                })
                }
                %>

            </tbody>
        </table>
    </div>

    <br>
    <br>

    <br>
    <br>
</form>    
</body>

</html>
