<!DOCTYPE html>
<html lang="en">
<head>
<title>부서등록</title>
<% include ../_helpers/html_header %>
</head>
<body>
	<div class="container">
		<h2>부서등록</h2>
		<p/>	

        <form method="POST">
            <div class="form-group">
            <label for="id">ID:</label> 
            <input type="text" name="deptNo" size=8 value="" >
            </div>
            <div class="form-group">
            <label for="authorid">부서명:</label> 
                <input type="text" name="deptName" value="" >
            </div>
        </form>
		<button class="btn btn-success" id="btn1">저장하기</button>
		&nbsp;
		<button class="btn btn-success" id="btn2">취소하기</button>
	</div>

<script>
$( function() {
	$("#btn1").off().on( "click", () => {
		document.forms[0].Action = "/insert";
		document.forms[0].submit();
	});
	$("#btn2").off().on( "click", () => { history.back(); });
});
</script>
</body>
</html>
